<VirtualHost *:80>
    ServerName web-01.mynet-062.com
    ServerAlias mynet-062.com
    DocumentRoot /var/www/mynet-062.com/html
    ErrorLog /var/www/mynet-062.com/log/error.log
    CustomLog /var/www/mynet-062.com/log/requests.log combined
</VirtualHost>